flask
https://github.com/pallets/flask-sqlalchemy/archive/7fa2ad5812edc71455934310e902bc3e43aec64c.zip
geoalchemy2
psycopg2-binary
fastavro
astropy
boto3
requests
shapely
lcogt-logging
confluent_kafka
