{% extends 'base.html' %}
{% block css %}
<link type="text/css" rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9support.css">
<link type="text/css" rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9.css">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h2>ZTF Archive - Las Cumbres Observatory | Alert {{ alert.id }}</h2>
    <p>
      This page lists all data available for this alert. You can add
      <a href="/{{ alert.id }}?format=json" title="json view"><code>?json</code></a> to the url to view it in
      raw json.
    </p>
  </div>
  <div class="row">
    <div class="col-md-6">
      <pre><code>
        {{ alert.pretty_serialized|safe }}
      </code></pre>
    </div>
    <div class="col-md-6">
      <ul>
        <li><strong>Science Cutout: </strong>
          <a href="#" onClick="loadCutout('{{ alert.cutoutScience }}');">View</a>
          <a href="{{ alert.cutoutScience }}">Download</a>
        </li>
        <li><strong>Template Cutout: </strong>
          <a href="#" onClick="loadCutout('{{ alert.cutoutTemplate }}');">View</a>
          <a href="{{ alert.cutoutTemplate }}">Download</a>
        </li>
        <li><strong>Difference Cutout: </strong>
          <a href="#" onClick="loadCutout('{{ alert.cutoutDifference }}');">View</a>
          <a href="{{ alert.cutoutDifference }}">Download</a>
        </li>
      </ul>

    <div class="JS9Menubar"></div>
    <div class="JS9Toolbar"></div>
    <div class="JS9" id="JS9"></div>
    <div style="margin-top: 2px;">
      <div class="JS9Colorbar"></div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9prefs.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9support.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9.min.js"></script>
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/cdn.lcogt.net/js9/js9plugins.js"></script>
<script type="text/javascript">
  function loadCutout(url){
    JS9.Load(url, {onload: function(){
      JS9.SetZoom('ToFit');
    }})
  }
</script>
{% endblock %}
